body{
    background: repeating-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('SpongeBob_SquarePants_character.svg.webp');
    background-position: center top;
   
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #question-container {
    margin-bottom: 20px;
  }
  
  #choices {
    list-style: none;
    padding: 0;
  }
  
  #choices li {
    margin-bottom: 10px;
  }
  
  #next-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #next-btn:hover {
    background-color: #0056b3;
  }
  
  #result {
    text-align: center;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: black;
  }
  